<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Reads</title>
</head>
<body>
    <h1>Welcome {{ this_user.name }}</h1>

    <a href="">Add Book and Review</a><br>
    <a href="">Logout</a>

    <h3>Recent Book Reviews:</h3>
    <p>Most Recent Review:</p>
    <p>Title</p>
    <p>Rating</p>
    <p>"Person who reviewed says: "text here"</p>
    <p>"Date posted"</p><br><br>

    <p>Most Recent Review:</p>
    <p>Title</p>
    <p>Rating</p>
    <p>"Person who reviewed says: "text here"</p>
    <p>"Date posted"</p><br><br>

    <p>Most Recent Review:</p>
    <p>Title</p>
    <p>Rating</p>
    <p>"Person who reviewed says: "text here"</p>
    <p>"Date posted"</p><br><br>
</body>
</html>